<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Resume Web Site</title>
</head>
<body>
    <header>Test</header>
    <main>Test</main>
    <footer class="footer"></footer>

    <script>
        var d = new Date();
        var date = d.getUTCDate();
        var year = d.getUTCFullYear();
        var month = d.getUTCMonth() + 1;
        document.querySelector('.footer').innerHTML = `&#169 ${date}/${month}/${year} A.P`;
    </script>
    
</body>
</html>